#topGUI {
    position: absolute;
    pointer-events: none;
    text-align: center;
    font-family: BebasNeue;
    font-size: 6vw;
    color: #48463B;
    z-index: 8;
    width: 100vw;
    height: 15vh;
    left: 0;
    top: 0;
    right: 0;
  }
  
  #score {
    position: absolute;
    width: 33vw;
    height: 10vh;
    line-height: 10vh;
    background-color: white;
    border: black solid 4px;
    border-radius: 0 0 20px 0;
    left: 0;
    top: 0;
  }
  #time {
    position: absolute;
    width: 33vw;
    height: 10vh;
    line-height: 10vh;
    background-color: white;
    border: black solid 4px;
    border-radius: 0 0 0 20px;
    right: 0;
    top: 0;
  }