.transition {
  z-index: 100 !important;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  background-color: white;
}
.transNextPage {
  position: absolute;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100 !important;
  animation: transitionOut 1.2s forwards;
}
.transLoadPage {
  position: absolute;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100 !important;
  animation: transitionIn 1.2s forwards;
}
.dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  animation: grow 2s forwards;
}
.line {
  position: absolute;
  transform-origin: 0% 50%;
  width: 0;
  height: 10px;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
}
@keyframes transitionOut {
  0% {
      transform: scale(0, 0);
  }
  40% {
      transform: scale(50, 50);
  }
  100% {
      transform: scale(2000, 2000);
  }
}
@keyframes transitionIn {
  0% {
    transform: scale(2000, 2000);
    opacity: 1;
  }
  60% {
    transform: scale(50, 50);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}